# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

ci:
  # skip these hooks in pre-commit CI since it doesn't have access to network.
  skip: ["encrypt-app-secrets", "build-tailwind-css", "generate-js-test-module"]

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
        - id: trailing-whitespace
          exclude: ^job_board/static/js/main\.mjs$  # manually generated.
        - id: end-of-file-fixer
          exclude: ^job_board/static/css/output\.css$
        - id: check-yaml
        - id: check-added-large-files

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
        # Run the linter.
        - id: ruff
          args: [ --fix ]
        # Run the formatter.
        - id: ruff-format

-   repo: https://github.com/asottile/reorder-python-imports
    rev: v3.16.0
    hooks:
        - id: reorder-python-imports
          exclude: ^job_board/migrations/versions/.*\.py$

-   repo: https://github.com/google/yamlfmt
    rev: v0.21.0
    hooks:
        - id: yamlfmt
          files: ^infra/.*\.(yml|yaml)$
          exclude: infra/vault\.yml

-   repo: local
    hooks:
        - id: encrypt-app-secrets
          name: Encrypt app secrets with Ansible Vault
          entry: bash scripts/encrypt_secrets.sh
          language: system
          pass_filenames: false
          always_run: true
        - id: build-tailwind-css
          name: Build Tailwind CSS
          entry: bash scripts/build-tailwind.sh
          language: system
          files: ^(job_board/templates/.*\.html|job_board/static/css/input\.css)$
          pass_filenames: false
        - id: generate-js-test-module
          name: Generate JavaScript test module from main.js
          entry: bash scripts/generate-test-module.sh
          language: system
          files: ^job_board/static/js/main\.js$
          pass_filenames: false
