[Unit]
Description=Gunicorn for {{ service_name | title }}
After=network.target

[Service]
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
Environment="PATH={{ app_dir }}/venv/bin"
EnvironmentFile=/etc/secrets/{{ service_name }}/.env
ExecStart={{ app_dir }}/venv/bin/gunicorn -b {{ gunicorn_bind }} job_board.views:app
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
RestartSec=3
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
